<nav>
    <div class="site-title">
        <a href="/"><h1>&lt;JSDevHub /&gt;</h1></a>
        <p>Share you knowledge and ideas to everyone!</p>
    </div>
    <ul>
        <li class="add-blog-li"><a class="add-blog" href="/blogs/create">Share Your Ideas</a></li>
        <li class="nav-li"><a href="/">Blogs</a></li>
        <li class="nav-li"><a href="/about">About</a></li>
    </ul>
</nav>

 