<nav>
    <div class="site-title">
        <a href="/"><h1>Ayan's Blog</h1></a>
        <p>My first VERY simple blog site with Express</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Post a New Blog</a></li>
    </ul>
</nav>

 