<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p>I am Jerry Clark Ian Cabuntunca, an aspiring web delevoper. This is my first ever web appplication that is made in Javascript.</p>
        <p>I learned a lot in creating this simple blog site showcasing CRUD functionalities.</p>
        <p>The source code of this applicataion is available on my github repo.</p>
        <hr>
        <a href="https://github.com/Ayan0420">Click here - Github</a>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>